.*.*_passed
test_bindtexture
test_bindtexturetoarray
test_eventdestroy
test_eventelapsedtime
test_eventquery
test_eventrecord
test_eventsynchronize
test_funcgetattributes
test_getdeviceproperties
test_gettexturereference
test_hostgetdevicepointer
test_hostgetflags
test_k_assert
test_memcpy
test_memcpyfromsymbol
test_memcpytosymbol
test_registervar
test_streamdestroy
test_streamquery
test_streamsynchronize
test_streamwaitevent
vtest_bindtexture
vtest_bindtexturetoarray
vtest_devicecacheconfig
vtest_devicesynchronize
vtest_eventcreate
vtest_eventcreatewithflags
vtest_eventelapsedtime
vtest_eventquery
vtest_eventrecord
vtest_eventsynchronize
vtest_funcsetcacheconfig
vtest_getdeviceproperties
vtest_geterrorstring
vtest_getsymboladdress
vtest_getsymbolsize
vtest_gettexturealignmentoffset
vtest_gettexturereference
vtest_hostalloc
vtest_hostgetdevicepointer
vtest_hostgetflags
vtest_hostregister
vtest_hostunregister
vtest_k_abs
vtest_k_ballot
vtest_k_bitfield
vtest_k_blas
vtest_k_block_reductions
vtest_k_brev
vtest_k_brkpt
vtest_k_carry
vtest_k_clz
vtest_k_cnot
vtest_k_copy_scalar_float
vtest_k_copysign
vtest_k_divmod
vtest_k_explog
vtest_k_funcgetattributes
vtest_k_global_reductions
vtest_k_mad24
vtest_k_memcpy
vtest_k_minmax
vtest_k_mov
vtest_k_mul24
vtest_k_mulhi
vtest_k_noop
vtest_k_pmevent
vtest_k_popc
vtest_k_printf
vtest_k_prng
vtest_k_rcp
vtest_k_rsqrt
vtest_k_sad
vtest_k_saturate
vtest_k_set_const_int
vtest_k_setcacheconfig
vtest_k_shared
vtest_k_shift
vtest_k_sincos
vtest_k_slct
vtest_k_sqrt
vtest_k_syncthreads
vtest_k_testp
vtest_k_tex1d
vtest_k_tex1d_sm20
vtest_k_threadfence
vtest_k_trap
vtest_k_uniform
vtest_k_validity
vtest_malloc
vtest_malloc3d
vtest_malloc3darray
vtest_mallocarray
vtest_mallochost
vtest_memcpy
vtest_memcpyasync
vtest_memcpyfromsymbol
vtest_memcpytosymbol
vtest_memgetinfo
vtest_memset
vtest_memsetasync
vtest_pointergetattributes
vtest_registervar
vtest_runtimegetversion
vtest_setdevice
vtest_setdeviceflags
vtest_setdouble
vtest_setupargument
vtest_streamcreate
vtest_streamquery
vtest_streamsynchronize
vtest_streamwaitevent
vtest_unbindtexture
*.cpp1.ii
*.cpp2.i
*.cpp3.i
*.cpp4.ii
*.cu.cpp.ii
*.cudafe1.c
*.cudafe1.cpp
*.cudafe1.gpu
*.cudafe1.stub.c
*.cudafe2.c
*.cudafe2.gpu
*.cudafe2.stub.c
*.fatbin
*.fatbin.c
*.hash
*.ptx
*.sm_10.cubin
*.sm_20.cubin
